<footer class="site-footer">
  <div class="footer-container">

    <div class="footer-social">
      <a href="https://github.com/KabulaBenjamin" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://twitter.com/koikoibenjamin" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="https://facebook.com/koikoi.benjamin" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="https://linkedin.com/in/koikoi-benjamin-2b9370162" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>

    <p class="footer-note">
      <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
    </p>

    <p class="copyright">
      &copy; {% now "Y" %} Benjamin Kabula Koikoi. All rights reserved.
    </p>

  </div>
</footer>